<template>
  <v-card hover>
    <v-img
      :src="require('~/assets/images/products/' + product.productImage)"
    >
      <v-container
        v-if="product.isSale"
        fill-height
        fluid
        pa-2
      >
        <v-layout fill-height>
          <v-flex xs12 align-end flexbox>
            <span class="sale-tag" v-text="'Sale'" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>

    <v-card-title primary-title>
      <div>
        <div> {{ product.productName + ' ' + product.price }}</div>
      </div>
    </v-card-title>

    <v-card-actions />
  </v-card>
</template>

<script>
export default {
  name: 'ProductCard',
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {}
  }
}
</script>

<style scoped>
  .sale-tag {
    background-color: red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
</style>
