<template>
  <v-layout>
    <v-flex xs12 sm10 offset-sm1>
      <v-card>
        <v-layout>
          <v-flex offset-sm9 sm3>
            <v-card-actions>
              <v-combobox
                v-model="selectedType"
                :items="productTypes"
                label="Filter by"
              />
              <v-spacer />
            </v-card-actions>
          </v-flex>
        </v-layout>
        <v-container v-bind="{ [`grid-list-$sm`]: true }" fluid>
          <v-layout row wrap>
            <v-flex
              v-for="(product, index) in filteredProducts"
              :key="product + ' ' + index"
              xs6
              md3
            >
              <ProductCard :product="product" />
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
import ProductCard from '../components/ProductCard'

export default {
  components: {
    ProductCard // component used to display each product.
  },
  data() {
    return {
      selectedType: 'All'
    }
  },
  computed: {
    filteredProducts() {
      return this.products.filter((p) => {
        if (this.selectedType === 'All' || this.selectedType === null) {
          return true
        } else {
          return p.type === this.selectedType
        }
      })
    }
  },
  asyncData(context) {
    return axios.get(process.env.baseURL + 'products.json')
      .then((res) => {
        // eslint-disable-next-line no-console
        console.log(res.data) // insuring that json objects were fetched successfully
        const types = ['All']

        // adding types to an array so they can be used to populate combobox.
        // in best practice this should have been done on the server side.
        res.data.forEach((p) => {
          if (types.indexOf(p.type) === -1) {
            types.push(p.type)
          }
        })

        // eslint-disable-next-line no-console
        console.log(types) // insuring that types were added to the types array, in theory this should have been done on the server side

        return {
          products: res.data,
          productTypes: types
        }
      })
  }
}
</script>
